<nav class="fr-box-navigation">
    <ul class="fr-box-navigation__list">
        <li class="fr-box-navigation__item">
            <a href="#" class="fr-box-navigation__link">
                <svg class="fr-box-navigation__icon"><use href="/images/sprites/misc.svg#print" xlink:href="/images/sprites/misc.svg#print"></use></svg>
                <span class="fr-box-navigation__label">Lorem ipsum</span>
            </a>
        </li>
        <li class="fr-box-navigation__item">
            <a href="#" class="fr-box-navigation__link">
                <svg class="fr-box-navigation__icon"><use href="/images/sprites/misc.svg#print" xlink:href="/images/sprites/misc.svg#print"></use></svg>
                <span class="fr-box-navigation__label">Lorem ipsum dolor aspet erum</span>
            </a>
        </li>
        <li class="fr-box-navigation__item">
            <a href="#" class="fr-box-navigation__link">
                <svg class="fr-box-navigation__icon"><use href="/images/sprites/misc.svg#print" xlink:href="/images/sprites/misc.svg#print"></use></svg>
                <span class="fr-box-navigation__label">Lorem ipsum</span>
            </a>
        </li>
        <li class="fr-box-navigation__item">
            <a href="#" class="fr-box-navigation__link">
                <svg class="fr-box-navigation__icon"><use href="/images/sprites/misc.svg#print" xlink:href="/images/sprites/misc.svg#print"></use></svg>
                <span class="fr-box-navigation__label">Lorem ipsum</span>
            </a>
        </li>
    </ul>
</nav>