<nav class="fr-breadcrumb-navigation" aria-label="Navigationspfad zur aktuellen Seite">
    <ul class="fr-breadcrumb-navigation__list">
        <li class="fr-breadcrumb-navigation__item">
            <a href="#" class="fr-breadcrumb-navigation__link">Startseite</a>
        </li>
        <li class="fr-breadcrumb-navigation__item">
            <a href="#" class="fr-breadcrumb-navigation__link">Die Themen</a>
        </li>
        <li class="fr-breadcrumb-navigation__item">
            <a href="#" class="fr-breadcrumb-navigation__link">Daten | Bildungsberichterstattung</a>
        </li>
        <li class="fr-breadcrumb-navigation__item">
            <strong class="fr-breadcrumb-navigation__link fr-breadcrumb-navigation__link-active">Ausbildung und Erwerbstätigkeit</strong>
        </li>
    </ul>
</nav>