<a class="fr-icon-navigation-toggle js-content-toggle" data-toggle-target="icon-nav">
    <svg>
        <use href="/images/sprites/misc.svg#tools"
             xlink:href="/images/sprites/misc.svg#tools"></use>
    </svg>
    <span>
    Alle anzeigen
    </span>
</a>
<div id="icon-nav" class="fr-icon-navigation-container">
    <nav class="fr-icon-navigation">
        <ul class="fr-icon-navigation__list">
            <li class="fr-icon-navigation__item">
                <a href="#" class="fr-icon-navigation__link">
                    <img src="/images/svg/icon-nav/apprenticeship.svg" alt=""><span>{{ iconNavigationLink }}</span>
                </a>
            </li>
            <li class="fr-icon-navigation__item">
                <a href="#" class="fr-icon-navigation__link">
                    <img src="/images/svg/icon-nav/contract.svg" alt=""><span>{{ iconNavigationLink }}</span>
                </a>
            </li>
            <li class="fr-icon-navigation__item">
                <a href="#" class="fr-icon-navigation__link">
                    <img src="/images/svg/icon-nav/data.svg" alt=""><span>{{ iconNavigationLink }}</span>
                </a>
            </li>
            <li class="fr-icon-navigation__item">
                <a href="#" class="fr-icon-navigation__link">
                    <img src="/images/svg/icon-nav/portal.svg" alt=""><span>{{ iconNavigationLink }}</span>
                </a>
            </li>
            <li class="fr-icon-navigation__item">
                <a href="#" class="fr-icon-navigation__link">
                    <img src="/images/svg/icon-nav/publication.svg" alt=""><span>{{ iconNavigationLink }}</span>
                </a>
            </li>
            <li class="fr-icon-navigation__item">
                <a href="#" class="fr-icon-navigation__link">
                    <img src="/images/svg/icon-nav/qualification.svg" alt=""><span>{{ iconNavigationLink }}</span>
                </a>
            </li>
            <li class="fr-icon-navigation__item">
                <a href="#" class="fr-icon-navigation__link">
                    <img src="/images/svg/icon-nav/report.svg" alt=""><span>{{ iconNavigationLink }}</span>
                </a>
            </li>
            <li class="fr-icon-navigation__item">
                <a href="#" class="fr-icon-navigation__link">
                    <img src="/images/svg/icon-nav/research.svg" alt=""><span>{{ iconNavigationLink }}</span>
                </a>
            </li>
        </ul>
    </nav>
</div>