<div class="fr-main-navigation__logo">
    <a href="#" title="Startseite Fachportal" class="fr-main-navigation__logo-link">
        <img src="/images/logos/ausbildung_plus.svg" class="fr-main-navigation__logo-image" alt="Logo FP">
    </a>
</div>
