<div class="fr-main-navigation__logo">
    <a href="#" title="Startseite bibb.de">
        <img src="/images/framework/logo_large.png" class="fr-main-navigation__logo-image--large" alt="Logo BIBB">
        <img src="/images/framework/logo_extrasmall.png" class="fr-main-navigation__logo-image--small" alt="Logo BIBB">
    </a>
</div>
