<nav class="fr-main-navigation fr-main-navigation--fp js-main-navigation" id="target_nav"
     data-initial='[{"pid": "2", "label": "Themen"}, {"pid": "29", "label": "Daten | Bildungsberichterstattung"}, {"pid": "292", "label": "Ausbildung und Erwerbstätigkeit"}, {"pid": "2926", "label": "Nicht formal Qualifizierte (nfQ)", "subItems": false}]'>
    <!--data-initial='[{"pid": "2", "label": "Themen"}, {"pid": "29", "label": "Daten | Bildungsberichterstattung"}, {"pid": "292", "label": "Ausbildung und Erwerbstätigkeit"}]'>-->
    <!--data-initial='[{"pid": "1", "label": "Das BIBB"}, {"pid": "11", "label": "Link 11"}, {"pid": "100", "label": "Link 100"}]'>-->
    <div class="fr-main-navigation__header">
        <div class="container">
            <div class="fr-main-navigation__header-inside">
                {{> organisms-main-navigation-logo-fp }}
                {{> organisms-main-navigation-bar }}
            </div>
        </div>
    </div>

    <div id="main-navigation-layer" class="fr-main-navigation__layer-container"></div>

</nav>
<div class="fr-main-navigation__placeholder js-main-navigation-placeholder">&nbsp;</div>