<div class="fr-page-navigation js-page-navigation">
    <ul class="fr-page-navigation__siblings">
        <li>
            <div class="fr-page-navigation__parent">
                <a href="#" class="fr-page-navigation__parent-link">Daten | Bildungsberichterstattung</a>
                <a href="#" class="fr-page-navigation__siblings-link js-page-navigation-show-siblings">
                    <svg class="fr-page-navigation__siblings-link-icon--closed"><use href="/images/sprites/misc.svg#plus" xlink:href="/images/sprites/misc.svg#plus"></use></svg>
                    <svg class="fr-page-navigation__siblings-link-icon--open"><use href="/images/sprites/misc.svg#close" xlink:href="/images/sprites/misc.svg#close"></use></svg>
                </a>
            </div>
            <nav>
                <ul class="fr-page-navigation__siblings-list js-page-navigation-siblings-list">
                    <li>
                        <a href="#" tabIndex="-1" class="fr-page-navigation__sibling-link">Übergänge in Ausbildung</a>
                    </li>
                    <li>
                        <a href="#" tabIndex="-1" class="fr-page-navigation__sibling-link fr-page-navigation__sibling-link--active">Ausbildung
                            und Erwerbstätigkeit</a>
                    </li>
                    <li>
                        <a href="#" tabIndex="-1" class="fr-page-navigation__sibling-link">Datenreport zum Berufsbildungsbericht</a>
                    </li>
                    <li>
                        <a href="#" tabIndex="-1" class="fr-page-navigation__sibling-link">Indikatoren zur
                            Bildungsberichterstattung</a>
                    </li>
                    <li>
                        <a href="#" tabIndex="-1" class="fr-page-navigation__sibling-link">Integrierte Ausbildungsberichterstattung -
                            iABE</a>
                    </li>
                    <li>
                        <a href="#" tabIndex="-1" class="fr-page-navigation__sibling-link">Expertenmonitor</a>
                    </li>
                    <li>
                        <a href="#" tabIndex="-1" class="fr-page-navigation__sibling-link">Referenz-Betriebs-System</a>
                    </li>
                </ul>
            </nav>
        </li>

    </ul>


    <ul class="fr-page-navigation__childs">
        <li>
            <span class="fr-page-navigation__actpage">Ausbildung und Erwerbstätigkeit</span>
            <nav>
                <ul>
                    <li>
                        <a href="#" class="fr-page-navigation__child-link fr-page-navigation__child-link--active">Ausbildungsvergütung</a>
                    </li>
                    <li>
                        <a href="#" class="fr-page-navigation__child-link">Auszubildenden-Daten der
                            Berufsbildungsstatistik
                            31.12. (Datensystem Auszubildende)</a>
                    </li>
                    <li>
                        <a href="#" class="fr-page-navigation__child-link">BIBB-Erhebung 'Neu abgeschlossene
                            Ausbildungsverträge zum 30.09.'</a>
                    </li>
                    <li>
                        <a href="#" class="fr-page-navigation__child-link">BIBB/BAuA-Erwerbstätigenbefragung - Arbeit
                            und
                            Beruf im Wandel, Erwerb und Verwertung beruflicher Qualifikationen</a>
                    </li>
                    <li>
                        <a href="#" class="fr-page-navigation__child-link">Analysen auf Basis der
                            BA-Beschäftigungsstatistik</a>
                    </li>
                    <li>
                        <a href="#" class="fr-page-navigation__child-link">Nicht formal Qualifizierte (nfQ)</a>
                    </li>
                </ul>
            </nav>
        </li>
    </ul>
</div>

