<div class="h-skiplinks">
    <a class="h-skip" title="skip link" href="#target_nav">Zur Hauptnavigation springen</a><span class="h-hidden">.</span>
    <a class="h-skip" title="skip link" href="#target_content">Zum Seiteninhalt springen</a><span class="h-hidden">.</span>
</div>