<nav class="fr-top-navigation fr-top-navigation--fp js-top-navigation" aria-label="Wichtige Seitenfunktionen">
    <div class="fr-top-navigation__container">
        <div class="fr-top-navigation__inside">
            <div class="fr-top-navigation__box-left">
                <a href="#" title="Startseite bibb.de" class="fr-top-navigation__logo-link-bibb">
                    <img src="/images/framework/bibb_logo.svg" class="fr-top-navigation__logo-bibb" alt="Logo BIBB">
                </a>
            </div>
            <ul class="fr-top-navigation__box-right">
                <li class="fr-top-navigation__item">
                    <a href="#" class="fr-top-navigation__link fr-top-navigation__link--language" title="Sprache">
                        <svg>
                            <use href="/images/sprites/topnav.svg#language"
                                 xlink:href="/images/sprites/topnav.svg#language"></use>
                        </svg>
                        <span class="fr-top-navigation__link-label--long">Englisch</span><span
                            class="fr-top-navigation__link-label--short">EN</span>
                    </a>
                </li>
                <li class="fr-top-navigation__item">
                    <a href="#" class="fr-top-navigation__link fr-top-navigation__link--contact" title="Kontakt">
                        <svg>
                            <use href="/images/sprites/topnav.svg#contact"
                                 xlink:href="/images/sprites/topnav.svg#contact"></use>
                        </svg>
                        <span>Kontakt</span>
                    </a>
                </li>
                <li class="fr-top-navigation__item">
                    <a href="#" class="js-search-layer-toggle fr-top-navigation__link fr-top-navigation__link--search" title="Suche">
                        <svg>
                            <use href="/images/sprites/topnav.svg#magnifier"
                                 xlink:href="/images/sprites/topnav.svg#magnifier"></use>
                        </svg>
                        <span>Suche</span>
                    </a>
                </li>
                <li class="fr-top-navigation__item">
                    <a href="#" class="js-user-layer-toggle fr-top-navigation__link fr-top-navigation__link--user" title="Anmelden">
                        <svg>
                            <use href="/images/sprites/topnav.svg#user"
                                 xlink:href="/images/sprites/topnav.svg#user"></use>
                        </svg>
                        <span>Anmelden</span>
                    </a>
                </li>
            </ul>
            <div class="fr-top-navigation-user-layer js-user-layer">
                <div class="fr-top-navigation-user-layer__inside">
                    <a href="#" class="fr-top-navigation-user-layer__close js-user-layer-close" title="Layer schließen">
                        <svg><use href="/images/sprites/misc.svg#close" xlink:href="/images/sprites/misc.svg#close"></use></svg>
                    </a>
                    <div class="fr-top-navigation-user-layer__name">
                        Vorname Nachname
                    </div>
                    <ul class="fr-top-navigation-user-layer__list">
                        <li class="fr-top-navigation-user-layer__item">
                            <a href="#" class="fr-top-navigation-user-layer__link">Benutzerdaten</a>
                        </li>
                        <li class="fr-top-navigation-user-layer__item">
                            <a href="#" class="fr-top-navigation-user-layer__link">Mein BIBB-Profil</a>
                        </li>
                        <li class="fr-top-navigation-user-layer__item">
                            <a href="#" class="fr-top-navigation-user-layer__link">Lorem ipsum</a>
                        </li>
                        <li class="fr-top-navigation-user-layer__item">
                            <a href="#" class="fr-top-navigation-user-layer__link">Abmelden</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
