<nav class="fr-topic-navigation">
    <ul class="fr-topic-navigation__list">
        <li class="fr-topic-navigation__item">
            <a href="#" class="fr-topic-navigation__link">{{ topicNavigationLink }}</a>
        </li>
        <li class="fr-topic-navigation__item">
            <a href="#" class="fr-topic-navigation__link">{{ topicNavigationLink }}</a>
        </li>
        <li class="fr-topic-navigation__item">
            <a href="#" class="fr-topic-navigation__link">{{ topicNavigationLink }}</a>
        </li>
        <li class="fr-topic-navigation__item">
            <a href="#" class="fr-topic-navigation__link">{{ topicNavigationLink }}</a>
        </li>
        <li class="fr-topic-navigation__item">
            <a href="#" class="fr-topic-navigation__link">{{ topicNavigationLink }}</a>
        </li>
        <li class="fr-topic-navigation__item">
            <a href="#" class="fr-topic-navigation__link">{{ topicNavigationLink }}</a>
        </li>
        <li class="fr-topic-navigation__item">
            <a href="#" class="fr-topic-navigation__link">{{ topicNavigationLink }}</a>
        </li>
        <li class="fr-topic-navigation__item">
            <a href="#" class="fr-topic-navigation__link">{{ topicNavigationLink }}</a>
        </li>
        <li class="fr-topic-navigation__item">
            <a href="#" class="fr-topic-navigation__link">{{ topicNavigationLink }}</a>
        </li>
    </ul>
</nav>