$printColor: black;

@media print {
    .c-content-slider-container {
        display: none;
    }
    
    .collapse {
        display: block !important;
    }
    
    .c-anchor-links {
        display: none;
    }
    
    .c-accentuation-box,
    .c-accordion__body {
        background: none;
        padding-left: 0;
        padding-right: 0;
    }
    
    .c-accordion__header-link {
        background: none !important;
        padding-left: 0;
        padding-right: 0;
        
        &:before {
            display: none !important;
        }
    }
    
    .c-content-container__image--landscape {
        max-width: 7cm !important;
        float: left !important;
        margin-right: 1cm !important;
    }
    
    .c-content-container__image--portrait {
        max-width: 5cm !important;
        float: left !important;
        margin-right: 1cm !important;
        width: 5cm;
        display: block;
    }
    
    .c-teaser-extended__toggle-link {
        display: none;
    }
    
    .c-teaser-extended__toggle-content {
        display: block !important;
    }
    
    .c-teaser-extended__link-box {
        display: none;
    }
    
    .c-image-container__copyright-link {
        display: none !important;
    }
    
    [data-toggle='lightbox']:before {
        display: none;
    }
    
    .c-quote__image {
        display: none;
    }
    
    .c-quote__text {
        margin-left: 0 !important;
    }
    
    .c-quote__caption {
        margin-left: 1cm !important;
    }
}
