* {
    @include font-regular;
    
    color: $color-text-default;
    // -webkit-font-smoothing: antialiased;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@-moz-document url-prefix() {
    body {
        font-weight: lighter !important;
    }
}

a {
    color: $color-text-default;
}

figure {
    line-height: 0;
}

caption {
    caption-side: top;
    color: $color-text-default;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}