$top-bar-height: 50px;

// Layout
$container-padding-top: 50px;
$container-padding-bottom: 50px;
$container-padding-top-large: 70px;
$container-padding-bottom-large: 70px;

// Grid
$main-column-padding-right: 70px - $grid-gutter-width;

// Content
$content-container-inside-spacer-bottom: 20px;

$content-element-spacer-bottom: 45px;

$paragraph-spacer-bottom: 30px;
$paragraph-spacer-text-bottom: 20px;

$headline-icon-spacer-bottom: 25px;

$content-image-landscape-width: 279px;
$content-image-caption-spacer: 7px;
