{{> organisms-skiplink-navigation }}

<div class="h-dev-breakpoint">BP:</div>

<header class="fr-header-content">
    {{> organisms-top-navigation-fp }}
    {{> organisms-search-layer }}
    {{> organisms-main-navigation-fp }}
</header>

<div class="fr-main-content fr-main-content--overview">

    {{> organisms-header-stage-type-6 }}

    <div class="fr-container__outside fr-container__outside--padding-top  fr-container__outside--padding-bottom fr-container-color-standard">
        <div class="container">
            <div class="fr-container__inside">
                {{> molecules-headline-icon }}
                {{> organisms-box-navigation }}
            </div>
        </div>
    </div>


</div>

{{> organisms-footer-social-links }}
{{> organisms-footer }}

{{> organisms-popup }}
