<div class="c-accentuation-box">
    <div class="c-accentuation-box__content">
        {{> atoms-headline-h3 }}
        {{> atoms-paragraph }}
        {{> molecules-link-paragraph }}
    </div>
</div>