<div class="c-accentuation-box c-accentuation-box--color-3">
    <div class="c-accentuation-box__content">
        {{> atoms-headline-h3 }}
        {{> molecules-ordered-list }}
        {{> molecules-link-paragraph }}
    </div>
</div>
