<div class="c-accentuation-box c-accentuation-box--with-image">
    <figure class="c-accentuation-box__icon">
        <img src="/images/svg/icon-nav/research.svg" alt="">
    </figure>

    <div class="c-accentuation-box__content">
        {{> atoms-headline-h3 }}
        {{> atoms-headline-h4 }}
        {{> atoms-paragraph }}
        {{> molecules-link-paragraph }}
    </div>
</div>