<div class="c-accentuation-box c-accentuation-box--white c-accentuation-box--with-image">
    <figure class="c-accentuation-box__image">
        {{> molecules-lightbox-image-landscape }}
    </figure>

    <div class="c-accentuation-box__content">
        {{> atoms-headline-h3 }}
        {{> atoms-paragraph }}
        {{> molecules-link-paragraph }}
    </div>
</div>