.c-accordion {
    margin-bottom: $content-element-spacer-bottom;
}

.c-accordion__header {
    margin-bottom: 5px;
}

.c-accordion__header-link {
    @include fs(23,30,conex-med);
    
    position: relative;
    width: 100%;
    padding: 10px 40px 10px 20px;
    color: $color-accordion-header-cl;
    background-color: $color-accordion-header-bg;
    text-align: left;
    
    &:before {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1;
        display: inline-block;
    }
    
    &[aria-expanded='false'] {
        @include icon(arrow-right,10,30);
    }
    
    &[aria-expanded='true'] {
        @include icon(arrow-down,10,30);

        background-color: $color-accordion-header-hover-bg;
        color: $color-accordion-header-hover-cl;
    
        &:before {
            color: $color-accordion-header-hover-cl;
        }
    }
    
    &:hover,
    &:focus {
        @include fs(23,30,conex-med);
        
        background-color: $color-accordion-header-hover-bg;
        color: $color-accordion-header-hover-cl;
        
        &:before {
            color: $color-accordion-header-hover-cl;
        }
    }
}

.c-accordion__body {
    padding: 20px;
    
    h3 {
        @include fs(22, 25, conex-med);
        
        margin-bottom: 8px;
    }
    
    h4 {
        @include fs(22, 25, conex-med);
        
        margin-bottom: 8px;
    }
    
    p + .table-container,
    ul + .table-container,
    ol + .table-container {
        margin-top: 30px;
    }
    
    p {
        @include clearfix;
        @include fs(17, 23);
        
        margin-bottom: 15px;
    }
    
    p + h3 {
        margin-top: 20px;
    }
    
    p + h4 {
        margin-top: 18px;
    }
    
    p > a:not(.c-glossary-link) {
        @include fs(15, 21, conex-med);
        @include link-behaviour-std();
        @include link-auto-icon(15);
        
        //color: $theme-color-link-cl;
    }
    
    ul,
    ol {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
        margin-top: 25px;
        
        li {
            @include fs(17, 23, ita);
            
            padding-left: 25px;
            position: relative;
            margin-bottom: 8px;
            
            &:before {
                @include posabs-tl;
            }
        }
    }
    
    ol {
        counter-reset: ol-li-counter;
    }
    
    ol li {
        counter-increment: ol-li-counter;
        
        &:before {
            content: counter(ol-li-counter) '. ';
        }
    }
    
    ul li {
        @include icon(bullet, 8, 23);
        @include icon-color($theme-color-bullet);
    }
}
