<ul class="c-anchor-links">
    <li class="c-anchor-links__item">
        {{> molecules-anchor-link }}
    </li>
    <li class="c-anchor-links__item">
        {{> molecules-anchor-link }}
    </li>
    <li class="c-anchor-links__item">
        {{> molecules-anchor-link }}
    </li>
    <li class="c-anchor-links__item">
        {{> molecules-anchor-link }}
    </li>
</ul>