<div class="c-content-video">
    <figure class="c-content-video__video">
        <div class="c-image-container">
            <a href="#" class="c-video-link">
                <img src="/images/content/content-landscape.jpg" alt="">
            </a>
        </div>
    </figure>
    {{> organisms-accentuation-box }}
</div>