<div class="c-content-footnotes">
    <ul class="c-content-footnotes__list">
        <li class="c-content-footnote">
            <span class="c-content-footnote__title">Mustermann, Manfred, Name des Werkes: </span>
            Et volorehenes ad ullesti beaquid eium quam, officiati conet,
            sitatectem illitio omniam quuntus as a nonserum eum repersp erfernati sit est volest, vendisqui velis
            rehendi rest que omnihil ium eum hitiorerum faceper ibusciam quiate et optus dolo cusa dolorae consed.
        </li>
        <li class="c-content-footnote">
            <span class="c-content-footnote__title">Mustermann, Manfred, Name des Werkes: </span>
            Et volorehenes ad ullesti beaquid eium quam, officiati conet,
            sitatectem illitio omniam quuntus as a nonserum eum repersp erfernati sit est volest, vendisqui velis
            rehendi rest que omnihil ium eum hitiorerum faceper ibusciam quiate et optus dolo cusa dolorae consed.
        </li>
    </ul>
</div>