<div class="c-link-block">
    {{> atoms-link-block-intro }}
    {{> molecules-link-block-single-link-intern }}
    {{> atoms-link-block-intro }}
    {{> molecules-link-block-link-list-intern }}
</div>