<div class="c-link-block">
    {{> atoms-link-block-intro }}
    {{> molecules-link-block-single-link-download }}
    {{> atoms-link-block-intro }}
    {{> molecules-link-block-link-list-download }}
</div>