<div class="c-meta-table">
    <div class="c-meta-table__container">
        <table class="c-meta-table__table">
            <caption>
                {{ metaTableCaption }}
            </caption>
            <tr>
                <th>{{ metaTableTh }}</th>
                <td>{{ metaTableTd }}</td>
            </tr>
            <tr>
                <th>{{ metaTableThLong }}</th>
                <td>{{ metaTableTdLong }}</td>
            </tr>
            <tr>
                <th>{{ metaTableTh }}</th>
                <td>
                    <a href="#">{{ metaTableTd }}</a>
                </td>
            </tr>
            <tr>
                <th>{{ metaTableThLong }}</th>
                <td>
                    <a href="#">{{ metaTableTdLong }}</a>
                </td>
            </tr>
        </table>
    </div>
</div>