<ul class="c-az">
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">A</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">B</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">C</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">D</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">E</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">F</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">G</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">H</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">I</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">J</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">K</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">L</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">M</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">N</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">O</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">P</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="-1" class="c-az__link c-az__link--inactive">Q</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">R</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">S</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">T</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">U</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">V</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">W</a>
    </li>
    <li class="c-az__item">
        <a href="#" tabindex="0" class="c-az__link">XYZ</a>
    </li>
</ul>
