<div class="c-counter">
    <div class="c-counter__inside">
        <div class="c-counter__pre">noch</div>
        <div class="c-counter__num">42</div>
        <div class="c-counter__post">Tage</div>
    </div>
</div>
