<ul class="c-link-block__link-list">
    <li class="c-link-block__list-item">
        {{> atoms-link-block-link-intern }}
    </li>
    <li class="c-link-block__list-item">
        {{> atoms-link-block-link-intern }}
    </li>
    <li class="c-link-block__list-item">
        {{> atoms-link-block-link-intern }}
    </li>
</ul>