<ul class="nav c-tabs__nav" role="tablist">
    <li class="c-tabs__tab">
        <a class="c-tabs__tab-link active" id="tab1" data-toggle="tab" href="#tab1-content" role="tab"
           aria-controls="tab1-content" aria-selected="true">
            <span class="c-tabs__tab-link-inside" tabindex="-1">{{ tabsTab1 }}</span>
        </a>
    </li>
    <li class="c-tabs__tab">
        <a class="c-tabs__tab-link" id="tab2" data-toggle="tab" href="#tab2-content" role="tab"
           aria-controls="tab2-content" aria-selected="false">
            <span class="c-tabs__tab-link-inside" tabindex="-1">{{ tabsTab2 }}</span>
        </a>
    </li>
    <li class="c-tabs__tab">
        <a class="c-tabs__tab-link" id="tab3" data-toggle="tab" href="#tab3-content" role="tab"
           aria-controls="tab3-content" aria-selected="false">
            <span class="c-tabs__tab-link-inside" tabindex="-1">{{ tabsTab3 }}</span>
        </a>
    </li>
</ul>
<a id="tabtop"></a>
