<nav class="c-tabs-text-selection">
    <h4 class="c-tabs-text-selection__headline">Sprachauswahl:</h4>
    <ul class="c-tabs-text-selection__list">
        <li class="c-tabs-text-selection__item">
            <span class="c-tabs-text-selection__link c-tabs-text-selection__link--active">Deutsch</span>
        </li>
        <li class="c-tabs-text-selection__item">
            <a href="#" class="c-tabs-text-selection__link">Englisch</a>
        </li>
        <li class="c-tabs-text-selection__item">
            <a href="#" class="c-tabs-text-selection__link">Französisch</a>
        </li>
    </ul>
</nav>