<div class="c-tabs-download-language">
    <table class="c-tabs-download-language__container">
        <tr>
            <td>{{> atoms-link-download }}</td>
            <td><a href="#"><img src="/images/framework/flag_en.png" alt=""></a></td>
            <td><a href="#"><img src="/images/framework/flag_fr.png" alt=""></a></td>
        </tr>
        <tr>
            <td>{{> atoms-link-download }}</td>
            <td><a href="#"><img src="/images/framework/flag_en.png" alt=""></a></td>
            <td><a href="#"><img src="/images/framework/flag_fr.png" alt=""></a></td>
        </tr>
        <tr>
            <td>{{> atoms-link-download }}</td>
            <td><a href="#"><img src="/images/framework/flag_en.png" alt=""></a></td>
            <td><a href="#"><img src="/images/framework/flag_fr.png" alt=""></a></td>
        </tr>
    </table>
</div>