<div class="c-tabs-special">
    <div class="row">
        <div class="col-md-6">
            <form class="c-form">
                {{> molecules-form-element-text }}

                <label class="c-form__label">asdf</label>
                <div class="row">
                    <div class="col-6">
                        <fieldset>
                            <legend class="c-form__legend c-form__legend--hidden">Form Label</legend>
                            <div class="c-form__checkbox-option">
                                <input type="checkbox" id="form-field-id" class="c-form__input c-form__input-option">
                                <label class="c-form__label-option" for="form-field-id">Option 1</label>
                            </div>
                            <div class="c-form__checkbox-option">
                                <input type="checkbox" id="form-field-id" class="c-form__input c-form__input-option">
                                <label class="c-form__label-option" for="form-field-id">Option 1</label>
                            </div>
                            <div class="c-form__checkbox-option">
                                <input type="checkbox" id="form-field-id" class="c-form__input c-form__input-option">
                                <label class="c-form__label-option" for="form-field-id">Option 1</label>
                            </div>
                            <div class="c-form__checkbox-option">
                                <input type="checkbox" id="form-field-id" class="c-form__input c-form__input-option">
                                <label class="c-form__label-option" for="form-field-id">Option 1</label>
                            </div>
                            <div class="c-form__checkbox-option">
                                <input type="checkbox" id="form-field-id" class="c-form__input c-form__input-option">
                                <label class="c-form__label-option" for="form-field-id">Option 1</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-6">
                        <fieldset>
                            <legend class="c-form__legend c-form__legend--hidden">Form Label</legend>
                            <div class="c-form__checkbox-option">
                                <input type="checkbox" id="form-field-id" class="c-form__input c-form__input-option">
                                <label class="c-form__label-option" for="form-field-id">Option 1</label>
                            </div>
                            <div class="c-form__checkbox-option">
                                <input type="checkbox" id="form-field-id" class="c-form__input c-form__input-option">
                                <label class="c-form__label-option" for="form-field-id">Option 1</label>
                            </div>
                            <div class="c-form__checkbox-option">
                                <input type="checkbox" id="form-field-id" class="c-form__input c-form__input-option">
                                <label class="c-form__label-option" for="form-field-id">Option 1</label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                {{> atoms-form-button-standard }}
            </form>
        </div>

        <div class="col-md-6">
            <div class="c-tabs-special__az">
                <h3 class="c-tabs-special__headline">Schlagworte A-Z. Bitte wählen Sie einen Anfangsbuchstaben:</h3>
                {{> molecules-a-z }}
                {{> atoms-form-button-standard }}
            </div>
        </div>
    </div>
</div>