<div class="c-rc-box__part c-rc-box__part--contact">
    {{> atoms-headline-h4 }}
    {{> molecules-user-info }}
    {{> molecules-link-paragraph-phone }}
    {{> molecules-link-paragraph-mail }}
    {{> molecules-link-paragraph }}
</div>