<div class="c-rc-box c-rc-box--grey2">
    {{> molecules-headline-icon }}
    {{> organisms-teaser-content-slider-media }}
</div>

<div class="c-rc-box c-rc-box--grey3">
    {{> molecules-headline-icon }}
    {{> organisms-rc-box-part-image }}
    {{> organisms-rc-box-part-text }}
    {{> organisms-rc-box-part-text }}
</div>

<div class="c-rc-box c-rc-box--grey2">
    {{> molecules-headline-icon }}
    {{> organisms-rc-box-part-image }}
    {{> organisms-rc-box-part-image }}
</div>

<div class="c-rc-box c-rc-box--grey2">
    {{> molecules-headline-icon }}
    {{> organisms-rc-box-part-links }}
</div>

<div class="c-rc-box c-rc-box--grey2">
    {{> molecules-headline-icon }}
    {{> organisms-rc-box-part-downloads }}
</div>

<div class="c-rc-box c-rc-box--grey4">
    {{> molecules-headline-icon }}
    {{> organisms-rc-box-part-contact }}
</div>

<div class="c-rc-box c-rc-box--grey2">
    {{> molecules-headline-icon }}
    {{> organisms-text-teaser-media }}
</div>
