<div class="c-rc-box c-rc-box--grey2">
    {{> molecules-headline-icon }}
    <div class="c-rc-box__part">
        {{> atoms-headline-h4 }}
        {{> atoms-paragraph }}
        {{> organisms-form-rc }}
    </div>
</div>
