<div class="c-pagination--top c-pagination--top-icon">
    {{> atoms-headline-icon-icon1 }}
    <div class="c-pagination__headline-container">
        {{> organisms-pagination-headline }}
        {{> organisms-pagination }}
    </div>
</div>