<nav class="c-pagination__box" aria-label="Ergebnis durchblättern">
    <ul class="c-pagination__list">
        <li class="c-pagination__item c-pagination__item--prev">
            <a href="#" class="c-pagination__link">vorherige</a>
        </li>
        <li class="c-pagination__item">
            <a href="#" class="c-pagination__link">1</a>
        </li>
        <li class="c-pagination__item">
            <a href="#" class="c-pagination__link">2</a>
        </li>
        <li class="c-pagination__item">
            <a href="#" class="c-pagination__link c-pagination__link--active">3</a>
        </li>
        <li class="c-pagination__item">
            <a href="#" class="c-pagination__link">4</a>
        </li>
        <li class="c-pagination__item">
            <a href="#" class="c-pagination__link">5</a>
        </li>
        <li class="c-pagination__item">
            <a href="#" class="c-pagination__link">6</a>
        </li>
        <li class="c-pagination__item">
            <a href="#" class="c-pagination__link">7</a>
        </li>
        <li class="c-pagination__item c-pagination__item--next">
            <a href="#" class="c-pagination__link">nächste</a>
        </li>
    </ul>
</nav>
