<table class="c-teaser-extended__meta-table">
    <tr>
        <th>{{ teaserMetaTableLabel }}</th>
        <td>{{ teaserMetaTableValue }}</td>
    </tr>
    <tr>
        <th>{{ teaserMetaTableLabel }}</th>
        <td>{{ teaserMetaTableValue }}</td>
    </tr>
    <tr>
        <th>{{ teaserMetaTableLabel }}</th>
        <td>{{ teaserMetaTableValue }}</td>
    </tr>
</table>
