{{> organisms-skiplink-navigation }}

<div class="h-dev-breakpoint">BP: </div>

<header class="fr-header-content">
    {{> organisms-top-navigation }}
    {{> organisms-search-layer }}
    {{> organisms-main-navigation }}
</header>

<div class="fr-main-content fr-main-content--overview">

    {{> organisms-header-stage-type-2 }}

    <div class="fr-container__outside fr-container__outside--padding-top">
        <div class="container">
            <div class="fr-container__inside">
                {{> organisms-header-stage-extension }}
                {{> molecules-headline-icon }}
                {{> organisms-topic-navigation }}
            </div>
        </div>
    </div>

    <div class="fr-container__outside fr-container__outside--padding-top">
        <div class="container">
            {{> organisms-tab-nav }}

            <div class="tab-content c-tabs__panes">
                <div class="tab-pane c-tabs__pane fade show active" id="tab1-content" role="tabpanel" aria-labelledby="tab1">
                    {{> organisms-tabs-special }}
                </div>
                <div class="tab-pane c-tabs__pane fade" id="tab2-content" role="tabpanel" aria-labelledby="tab2">
                </div>
                <div class="tab-pane c-tabs__pane fade" id="tab3-content" role="tabpanel" aria-labelledby="tab2">
                </div>
            </div>
        </div>
    </div>

    <div class="fr-container__outside fr-container__outside--padding-top fr-container__outside--padding-bottom">
        <div class="container">
            {{> molecules-headline-icon }}
        </div>
        <div class="container container--slider">
            {{> organisms-teaser-row-slider-image-static }}
        </div>
    </div>

    <div class="fr-container__outside fr-container__outside--padding-top-large fr-container__outside--padding-bottom-large fr-container-color-standard">
        <div class="container">
            <div class="fr-container__inside">
                {{> organisms-single-teaser-with-image }}
            </div>
        </div>
    </div>

    <div class="fr-container__outside fr-container__outside--padding-top fr-container__outside--padding-bottom">
        <div class="container">
            {{> molecules-headline-icon }}
        </div>
        <div class="container container--slider">
            {{> organisms-teaser-row-slider-media }}
        </div>
    </div>

    <div class="fr-container__outside fr-container__outside--padding-top fr-container__outside--padding-bottom fr-container-color-standard">
        <div class="container">
            <div class="fr-container__inside">
                {{> molecules-headline-icon }}
                {{> organisms-small-teaser-box }}
            </div>
        </div>
    </div>

    <div class="fr-container__outsid fr-container__outside--padding-top fr-container__outside--padding-bottom fr-container-color-2">
        <div class="container">
            <div class="fr-container__inside">
                {{> molecules-headline-icon }}
                {{> organisms-vertical-teaser-container }}
            </div>
        </div>
    </div>

    <div class="fr-container__outside fr-container__outside--padding-top fr-container__outside--padding-bottom-large">
        <div class="container">
            <div class="fr-container__inside">
                {{> molecules-headline-icon }}
                {{> organisms-three-teasers }}
            </div>
        </div>
    </div>
    <div class="fr-container__outside fr-container__outside--padding-top fr-container__outside--padding-bottom fr-container-color-standard">
        <div class="container">
            <div class="fr-container__inside">
                {{> organisms-two-columns-teaser }}
            </div>
        </div>
    </div>

    <div class="fr-container__outside fr-container__outside--padding-top fr-container__outside--padding-bottom fr-container-color-1">
        <div class="container">
            {{> molecules-headline-icon }}
        </div>
        <div class="container container--slider">
            {{> organisms-teaser-row-slider }}
        </div>
    </div>

</div>

{{> organisms-footer-social-links }}
{{> organisms-footer }}

{{> organisms-popup }}
