{{> organisms-skiplink-navigation }}

<div class="h-dev-breakpoint">BP:</div>

<header class="fr-header-content">
    {{> organisms-top-navigation }}
    {{> organisms-search-layer }}
    {{> organisms-main-navigation }}
</header>

<div class="fr-main-content fr-main-content--overview">

    {{> organisms-header-stage-type-5 }}

    <div class="fr-container__outside fr-container__outside--padding-top fr-container__outside--padding-bottom">
        <div class="container">
            {{> molecules-headline-icon }}
        </div>
        <div class="container container--slider">
            {{> organisms-teaser-row-slider-image-static }}
        </div>
    </div>

    <div class="fr-container__outside fr-container__outside--padding-top fr-container__outside--padding-bottom fr-container-color-1">
        <div class="container">
            {{> molecules-headline-icon }}
        </div>
        <div class="container container--slider">
            {{> organisms-teaser-row-slider }}
        </div>
    </div>

    <div class="fr-container__outside fr-container__outside--padding-top fr-container__outside--padding-bottom">
        <div class="container">
            {{> molecules-headline-icon }}
        </div>
        <div class="container container--slider">
            {{> organisms-teaser-row-slider-media }}
        </div>
    </div>

    <div class="fr-container__outside fr-container__outside--padding-top fr-container__outside--padding-bottom fr-container-color-1">
        <div class="container">
            {{> molecules-headline-icon }}
        </div>
        <div class="container container--slider">
            {{> organisms-teaser-row-slider-video }}
        </div>
    </div>

    <div class="fr-container__outside fr-container__outside--padding-top fr-container__outside--padding-bottom fr-container-color-2">
        <div class="container">
            <div class="fr-container__inside">
                {{> molecules-headline-icon }}
                {{> organisms-vertical-teaser-container }}
            </div>
        </div>
    </div>

</div>

{{> organisms-footer-social-links }}
{{> organisms-footer }}

{{> organisms-popup }}