<div class="c-form__select-container">
    <select id="form-field-id" class="c-form__select c-form__input-error">
        <option>{{ formOptionLabel }}</option>
        <option>{{ formOptionLabel }}</option>
        <option>{{ formOptionLabel }}</option>
        <option>{{ formOptionLabel }}</option>
    </select>
</div>