<div class="c-order-table-container">
    <table class="c-order-table">
        <tr class="c-order-table__row c-order-table__row--header">
            <th class="c-order-table__element">Artikel</th>
            <th class="c-order-table__element">Menge</th>
            <th class="c-order-table__element c-order-table__element--right">Preis</th>
        </tr>

        <tr class="c-order-table__row c-order-table__row--spacer-top c-order-table__row--spacer-bottom-large c-order-table__row--line">
            <td class="c-order-table__element">
                <div class="c-order-table__detail">
                    <div class="c-order-table__detail-meta">
                        {{ orderDetailMeta }}
                    </div>
                    <div class="c-order-table__detail-title">
                        <a href="#" class="c-order-table__detail-title-link">{{ orderDetailTitle }}</a>
                    </div>
                    <div class="c-order-table__detail-price">
                        {{ orderDetailPrice }}
                    </div>
                </div>
            </td>
            <td class="c-order-table__element">
                1
            </td>
            <td class="c-order-table__element c-order-table__element--right">34,90 €</td>
        </tr>

        <tr class="c-order-table__row c-order-table__row--spacer-top c-order-table__row--spacer-bottom-large c-order-table__row--line">
            <td class="c-order-table__element">
                <div class="c-order-table__detail">
                    <div class="c-order-table__detail-meta">
                        {{ orderDetailMeta }}
                    </div>
                    <div class="c-order-table__detail-title">
                        <a href="#" class="c-order-table__detail-title-link">{{ orderDetailTitle }}</a>
                    </div>
                    <div class="c-order-table__detail-price">
                        {{ orderDetailPrice }}
                    </div>
                </div>
            </td>
            <td class="c-order-table__element">
                <input type="text" value="1" class="c-order-table__input-num">
                <a href="#" class="c-order-table__link-delete">Artikel löschen</a>
            </td>
            <td class="c-order-table__element c-order-table__element--right">34,90 €</td>
        </tr>

        <tr class="c-order-table__row c-order-table__row--footer c-order-table__row--spacer-top-large">
            <td colspan="2" class="c-order-table__element c-order-table__element--right">Versandkosten:</td>
            <td class="c-order-table__element c-order-table__element--right">0,00 €</td>
        </tr>

        <tr class="c-order-table__row c-order-table__row--footer c-order-table__row--spacer-bottom c-order-table__row--line">
            <td colspan="2" class="c-order-table__element c-order-table__element--right"><strong>Gesamt:</strong></td>
            <td class="c-order-table__element c-order-table__element--right"><strong>34,90 €</strong></td>
        </tr>

        <tr class="c-order-table__row c-order-table__row--footer c-order-table__row--spacer-top">
            <td colspan="2" class="c-order-table__element c-order-table__element--right">Versandkosten:</td>
            <td class="c-order-table__element c-order-table__element--right">0,00 €</td>
        </tr>

        <tr class="c-order-table__row c-order-table__row--footer c-order-table__row--spacer-bottom c-order-table__row--line-strong">
            <td colspan="2" class="c-order-table__element c-order-table__element--right"><strong>Gesamt:</strong></td>
            <td class="c-order-table__element c-order-table__element--right"><strong>34,90 €</strong></td>
        </tr>

    </table>
</div>