<div class="c-order-status">
    <ul class="c-order-status__list">
        <li class="c-order-status__item c-order-status__item--active">1. Warenkorb</li>
        <li class="c-order-status__item">2. Bestelldaten</li>
        <li class="c-order-status__item">3. Bestellübersicht</li>
        <li class="c-order-status__item">4. Bestätigung</li>
    </ul>
</div>