<div class="c-order-address">
    <h4 class="c-order-address__headline">Ihre Adresse</h4>
    <p class="c-order-address__address">
        Name Vorname<br>
        Firma<br>
        Strasse Hausnummer<br>
        PLZ Ort
    </p>
    <p class="c-order-address__country">Land</p>
    <a class="c-order-address__link">Ändern</a>
</div>
