<a href="/images/content/content-portrait.jpg" data-toggle="lightbox" data-title="{{ imageTitle }}" data-footer="{{ imageCaptionPopup }}">
    <img src="/images/content/content-portrait.jpg" data-copyright="{{ imageCopyright }}" alt="">
</a>
