<div class="fr-content-footer">
    <ul class="fr-content-footer__list">
        <li class="fr-content-footer__item">
            {{> molecules-icon-link }}
        </li>
        <li class="fr-content-footer__item">
            {{> molecules-icon-link }}
        </li>
    </ul>
</div>