<div class="fr-footer-boilerplate">
    <p class="fr-footer-boilerplate__text">
        Das Bundesinstitut für Berufsbildung ist eine bundesunmittelbare, rechtsfähige Anstalt des öffentlichen Rechts.
    </p>
</div>