<div class="fr-footer-logos">
    <div class="container">
        <div class="fr-footer-logos__inside">
            <ul class="fr-footer-logos__list">
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/agbfn.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/anerkennung_deutschland.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/ausbildung_plus.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/berufsorientierung.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/bibb_kongress.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/bildungsketten.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/deqa-vet.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/foraus.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/go_vet.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/ibs.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/imove.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/jobstarter.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/klischeefrei.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/na_bibb.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/nque.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/pruefer_portal.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/refernet.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
                <li class="fr-footer-logos__list-item">
                    <a href="#" class="fr-footer-logos__link"><img src="/images/logos/ueberaus.svg" class="fr-footer-logos__logo" alt="Logo ..."></a>
                </li>
            </ul>
        </div>
    </div>
</div>