<div class="fr-footer-sitemap">
    <div class="row">
        <div class="col-md-12 col-lg-3">
            <h3 class="fr-footer-sitemap__headline">Das BIBB</h3>
            <ul class="fr-footer-sitemap__list">
                <li class="fr-footer-sitemap__list-item">
                    <a href="#" class="fr-footer-sitemap__link">{{ sitemapLinkText }}</a>
                </li>
                <li class="fr-footer-sitemap__list-item">
                    <a href="#" class="fr-footer-sitemap__link">{{ sitemapLinkText }}</a>
                </li>
                <li class="fr-footer-sitemap__list-item">
                    <a href="#" class="fr-footer-sitemap__link">{{ sitemapLinkText }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-3">
            <h3 class="fr-footer-sitemap__headline">Themen</h3>
            <ul class="fr-footer-sitemap__list">
                <li class="fr-footer-sitemap__list-item">
                    <a href="#" class="fr-footer-sitemap__link">{{ sitemapLinkText }}</a>
                </li>
                <li class="fr-footer-sitemap__list-item">
                    <a href="#" class="fr-footer-sitemap__link">{{ sitemapLinkText }}</a>
                </li>
                <li class="fr-footer-sitemap__list-item">
                    <a href="#" class="fr-footer-sitemap__link">{{ sitemapLinkText }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-3">
            <h3 class="fr-footer-sitemap__headline">Unser Service</h3>
            <ul class="fr-footer-sitemap__list">
                <li class="fr-footer-sitemap__list-item">
                    <a href="#" class="fr-footer-sitemap__link">{{ sitemapLinkText }}</a>
                </li>
                <li class="fr-footer-sitemap__list-item">
                    <a href="#" class="fr-footer-sitemap__link">{{ sitemapLinkText }}</a>
                </li>
                <li class="fr-footer-sitemap__list-item">
                    <a href="#" class="fr-footer-sitemap__link">{{ sitemapLinkText }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-3">
            <!--<h3 class="fr-footer-sitemap__headline h-invisible">Service</h3>-->
            <div class="fr-footer-sitemap__feedback">
                <a href="#" class="c-icon-link">
                    <svg class="c-icon-link__icon"><use href="/images/sprites/misc.svg#feedback" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/misc.svg#feedback"></use></svg><span class="c-icon-link__label">Feedback geben</span>
                </a>
            </div>
            <ul class="fr-footer-sitemap__list">
                <li class="fr-footer-sitemap__list-item">
                    <a href="#" class="fr-footer-sitemap__link">Kontakt</a>
                </li>
                <li class="fr-footer-sitemap__list-item">
                    <a href="#" class="fr-footer-sitemap__link">Impressum</a>
                </li>
                <li class="fr-footer-sitemap__list-item">
                    <a href="#" class="fr-footer-sitemap__link">Datenschutz</a>
                </li>
            </ul>
        </div>
    </div>
</div>