<div class="fr-footer">
    <div class="container">
        <div class="fr-footer__inside">
            {{> organisms-footer-sitemap }}
            {{> organisms-footer-boilerplate }}
        </div>
    </div>
</div>