<div class="fr-footer-social-links">
    <div class="container">
        <div class="fr-footer-social-links__inside">
            <h2 class="fr-footer-social-links__headline">Inhalte teilen</h2>
            <ul class="fr-footer-social-links__list">
                <li class="fr-footer-social-links__list-item">
                    <a href="#" class="fr-footer-social-links__link fr-footer-social-links__link--facebook">
                        <svg><use href="/images/sprites/misc.svg#facebook" xlink:href="/images/sprites/misc.svg#facebook"></use></svg><span>Facebook</span>
                    </a>
                </li>
                <li class="fr-footer-social-links__list-item">
                    <a href="#" class="fr-footer-social-links__link fr-footer-social-links__link--google">
                        <svg><use href="/images/sprites/misc.svg#google" xlink:href="/images/sprites/misc.svg#google"></use></svg><span>Google</span>
                    </a>
                </li>
                <li class="fr-footer-social-links__list-item">
                    <a href="#" class="fr-footer-social-links__link fr-footer-social-links__link--xing">
                        <svg><use href="/images/sprites/misc.svg#xing" xlink:href="/images/sprites/misc.svg#xing"></use></svg><span>Xing</span>
                    </a>
                </li>
                <li class="fr-footer-social-links__list-item">
                    <a href="#" class="fr-footer-social-links__link fr-footer-social-links__link--linkedin">
                        <svg><use href="/images/sprites/misc.svg#linkedin" xlink:href="/images/sprites/misc.svg#linkedin"></use></svg><span>Linkedin</span>
                    </a>
                </li>
                <li class="fr-footer-social-links__list-item">
                    <a href="#" class="fr-footer-social-links__link fr-footer-social-links__link--twitter">
                        <svg><use href="/images/sprites/misc.svg#twitter" xlink:href="/images/sprites/misc.svg#twitter"></use></svg><span>Twitter</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>