<div class="c-form-container">

    <form class="c-form">
        <div class="c-form__row c-form__row--double">
            {{> molecules-form-element-text-tooltip }}
            {{> molecules-form-element-text-tooltip }}
        </div>
        <div class="c-form__row c-form__row--double">
            {{> molecules-form-element-select-tooltip }}
            {{> molecules-form-element-select-tooltip }}
        </div>
        {{> organisms-form-row-button-double }}
    </form>

</div>
