<div class="c-form__element">
    <fieldset>
        {{> atoms-form-legend }}
        {{> molecules-form-element-checkbox-option }}
        {{> molecules-form-element-checkbox-option }}
        {{> molecules-form-element-checkbox-option }}
        {{> molecules-form-element-checkbox-option }}
    </fieldset>
</div>