<div class="c-form-filter">
    <table class="c-form-filter__table">
        <tr class="c-form-filter__row c-form-filter__row--multiple-top">
            <th>Suchbegriff:</th>
            <td class="c-form-filter__elem c-form-filter__elem--active">Ausbildung</td>
        </tr>
        <tr class="c-form-filter__row">
            <th>Treffenanzahl:</th>
            <td class="c-form-filter__elem c-form-filter__elem--active">586 Ergebnisse</td>
        </tr>
        <tr class="c-form-filter__row c-form-filter__row--multiple-bottom">
            <th>Suchbegriff:</th>
            <td class="c-form-filter__elem">
                <ul class="c-form-filter__selector-list">
                   <li class="c-form-filter__selector-item">
                       <span class="c-form-filter__selector-active">10</span>
                   </li>
                    <li class="c-form-filter__selector-item">
                        <a href="#" class="c-form-filter__selector-link">20</a>
                    </li>
                    <li class="c-form-filter__selector-item">
                        <a href="#" class="c-form-filter__selector-link">20</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr class="c-form-filter__row c-form-filter__row--single">
            <th>Sortierung innerhalb eines Jahrgangs nach:</th>
            <td class="c-form-filter__elem">
                <ul class="c-form-filter__selector-list">
                    <li class="c-form-filter__selector-item">
                        <a href="#" class="c-form-filter__selector-link">Titel</a>
                    </li>
                    <li class="c-form-filter__selector-item">
                        <a href="#" class="c-form-filter__selector-link">Autor</a>
                    </li>
                    <li class="c-form-filter__selector-item">
                        <a href="#" class="c-form-filter__selector-link">Verlag</a>
                    </li>
                    <li class="c-form-filter__selector-item">
                        <span class="c-form-filter__selector-active">Reihe</span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>