<div class="c-form__element">
    {{> atoms-form-label }}
    <div class="c-form__element-inline-container">
        {{> molecules-form-element-select-inline }}
        {{> molecules-form-element-select-inline }}
    </div>
</div>