<div class="c-form-container">

    <form class="c-form">
        {{> molecules-form-element-text }}
        {{> molecules-form-element-select }}
        {{> organisms-form-element-checkbox-multiple }}
        {{> organisms-form-row-button-single-right }}
    </form>

</div>
