<div class="c-contact-teaser">
    <h3 class="c-teaser__headline">
        {{ contactTeaserHeadline }}
    </h3>
    <figure class="c-contact-teaser__image">
        <img src="/images/content/contact-dummy.png" alt="Photo von ..."/>
    </figure>
    <div class="c-contact-teaser__content">
        <p class="c-contact-teaser__text">
            {{ contactTeaserText }}
        </p>
        <p class="c-contact-teaser__contact-info">
            Tel. <a href="tel:{{ contactTeaserPhoneNumber }}">{{ contactTeaserPhone }}</a>
            <a href="#" class="c-contact-teaser__link">Zur Person</a>
            <a href="#" class="c-contact-teaser__link">Kontakt</a>
        </p>
    </div>
</div>