<div class="c-single-teaser c-single-teaser--round">
    <div class="row">
        <div class="col-lg-6 h-center-content">
            {{> molecules-image-round }}
        </div>
        <div class="col-lg-6 c-counter-container">
            <div class="c-single-teaser__logo">
                <img src="/images/content/logo_congress.svg" alt="">
            </div>
            {{> molecules-counter }}
            {{> atoms-teaser-headline }}
            {{> atoms-teaser-text }}
            {{> atoms-teaser-link }}
        </div>
    </div>
</div>