<div class="c-single-teaser">
    <div class="row">
        <div class="col-lg-6">
            {{> molecules-image-standard-without-caption }}
        </div>
        <div class="col-lg-6">
            {{> atoms-teaser-headline-large }}
            {{> atoms-teaser-text-large }}
            {{> atoms-teaser-link }}
        </div>
    </div>
</div>