<div class="c-small-teaser-box">
    {{> organisms-small-teaser-with-image }}
    {{> organisms-small-teaser-with-image }}
    {{> organisms-small-teaser-with-image }}
    {{> organisms-small-teaser-with-image }}
    {{> organisms-small-teaser }}
    {{> organisms-small-teaser }}
</div>