<div class="c-small-teaser c-small-teaser--with-image">
    <figure class="c-small-teaser__image">
        {{> atoms-image-landscape }}
    </figure>

    <div class="c-small-teaser__content">
        {{> atoms-teaser-text-small }}
        {{> atoms-teaser-link }}
    </div>
</div>