<div class="c-teaser c-teaser--text {{ addClass }}">
    {{> molecules-image-standard-without-caption-popup }}
    {{> atoms-teaser-meta }}
    {{> atoms-teaser-headline }}
    {{> atoms-teaser-text }}
    {{> atoms-teaser-link }}
</div>