<div class="c-three-teasers__teaser">
    <div class="row no-gutters">
        <div class="col-lg-8 order-lg-2">
            {{> molecules-image-standard-without-caption }}
        </div>
        <div class="col-lg-4 order-large-1">
            <div class="c-three-teasers__teaser-text-container">
                {{> atoms-teaser-text }}
                {{> atoms-teaser-link }}
            </div>
        </div>
    </div>
</div>
