<div class="row">
    <div class="col-lg-6 col-md-spacer-bottom">
        {{> organisms-text-teaser-headline-large(addClass: "c-teaser--meta-special") }}
    </div>
    <div class="col-lg-6">
        {{> organisms-teaser-vertical-slider }}
    </div>
</div>