{{> organisms-skiplink-navigation }}

<div class="h-dev-breakpoint">BP: </div>

<header class="fr-header-content">
    {{> organisms-top-navigation }}
    {{> organisms-search-layer }}
    {{> organisms-main-navigation }}
    {{> organisms-header-stage-type-3 }}
</header>

<div class="fr-main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <main class="fr-main-column">
                    {{> atoms-headline-main }}
                    {{> molecules-headline-line }}
                    {{> molecules-headline-icon }}
                    {{> molecules-headline-line-with-link }}
                    {{> molecules-headline-icon-with-link }}
                    {{> molecules-headline-line-with-separate-link }}
                    {{> molecules-headline-icon-with-separate-link }}
                    {{> molecules-headline-line-with-dropdown }}
                    {{> molecules-headline-icon-with-dropdown }}
                    {{> organisms-pagination-top }}
                    {{> organisms-pagination-top-with-icon }}

                    <br><br><br>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#calendar" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#calendar"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [calendar]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#cart" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#cart"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [cart]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#comments" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#comments"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [comments]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#contact" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#contact"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [contact]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#divers" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#divers"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [divers]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#download"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [download]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#follow" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#follow"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [follow]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#hints" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#hints"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [hints]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#interesting" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#interesting"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [interesting]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#link" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#link"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [link]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#magnifier" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#magnifier"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [magnifier]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#news" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#news"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [news]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#newsletter" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#newsletter"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [newsletter]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#partners" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#partners"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [partners]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#publication" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#publication"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [publication]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#rss" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#rss"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [rss]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#short_messages" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#short_messages"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [short_messages]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#tools" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#tools"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [tools]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#top" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#top"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [top]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#twitter" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#twitter"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [twitter]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#user" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#user"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [user]</h3>
                    </div>

                    <div class="c-headline c-headline--icon">
                        <svg class="c-headline__icon">
                            <use href="/images/sprites/headlines.svg#video" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites/headlines.svg#video"></use>
                        </svg>
                        <h3 class="c-headline__label ">Überschrift [video]</h3>
                    </div>

                </main>
            </div>
            <div class="col-lg-4">
                <aside class="fr-rc-column">
                    {{> organisms-page-navigation }}
                </aside>
            </div>
        </div>
    </div>
</div>

{{> organisms-footer-social-links }}
{{> organisms-footer }}

{{> organisms-popup }}
