<div class="c-headline c-headline--icon c-headline--with-dropdown">
    {{> atoms-headline-icon-icon1 }}
    <div class="c-headline__container">
        {{> atoms-headline-label }}
        {{> molecules-headline-dropdown }}
    </div>
</div>