<div class="c-headline c-headline--icon c-headline--with-link">
    {{> atoms-headline-icon-icon1 }}
    <div class="c-headline__container">
        {{> atoms-headline-label-with-link }}
        {{> atoms-headline-link }}
    </div>
</div>