<a href="#anchor" class="c-anchor-link">
    <svg class="c-anchor-link__icon">
        <use href="/images/sprites/misc.svg#anchor" xlink:href="/images/sprites/misc.svg#anchor"></use>
    </svg>
    <span class="c-anchor-link__label">{{ anchorLinkLabel }}</span>
</a>
