<a href="#" class="c-icon-link">
    <svg class="c-icon-link__icon"><use href="/images/sprites/misc.svg#print" xlink:href="/images/sprites/misc.svg#print"></use></svg><span class="c-icon-link__label">Seite drucken</span>
</a>