<div class="c-video-gallery-teaser {{ addClass }}">
    <figure>
        <div class="c-image-container">
            <a href="#" class="c-video-link">
                <img src="/images/content/content-landscape.jpg" alt="">
            </a>
        </div>
        {{> atoms-image-caption }}
    </figure>
</div>
