<div class="c-content-slider-container">
    <div class="c-content-slider c-content-slider--image js-content-slider">
        {{> molecules-image-standard }}
        {{> molecules-image-standard }}
        {{> molecules-image-standard }}
        {{> molecules-image-standard }}
        {{> molecules-image-standard }}
        {{> molecules-image-standard }}
    </div>
</div>
