<div class="c-teaser-row-slider js-row-slider {{ addClass }}">
    {{> organisms-text-teaser-image(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-image(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-image(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-image(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-image(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-image(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-image(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-image(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-image(addClass: "c-teaser--slider") }}
</div>
