<div class="c-vertical-slider-container">
    <div class="c-vertical-slider js-vertical-slider">
        {{> organisms-text-teaser-vertical(addClass: "c-teaser--meta-special") }}
        {{> organisms-text-teaser-vertical(addClass: "c-teaser--meta-special") }}
        {{> organisms-text-teaser-vertical(addClass: "c-teaser--meta-special") }}
        {{> organisms-text-teaser-vertical(addClass: "c-teaser--meta-special") }}
        {{> organisms-text-teaser-vertical(addClass: "c-teaser--meta-special") }}
    </div>
</div>
