<div class="c-teaser-row-slider js-row-slider">
    {{> organisms-video-gallery-teaser(addClass: "c-teaser--slider") }}
    {{> organisms-video-gallery-teaser(addClass: "c-teaser--slider") }}
    {{> organisms-video-gallery-teaser(addClass: "c-teaser--slider") }}
    {{> organisms-video-gallery-teaser(addClass: "c-teaser--slider") }}
    {{> organisms-video-gallery-teaser(addClass: "c-teaser--slider") }}
    {{> organisms-video-gallery-teaser(addClass: "c-teaser--slider") }}
    {{> organisms-video-gallery-teaser(addClass: "c-teaser--slider") }}
    {{> organisms-video-gallery-teaser(addClass: "c-teaser--slider") }}
    {{> organisms-video-gallery-teaser(addClass: "c-teaser--slider") }}
</div>
