<div class="c-teaser-row-slider js-row-slider">
    {{> organisms-text-teaser-media(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-media(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-media(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-media(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-media(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-media(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-media(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-media(addClass: "c-teaser--slider") }}
    {{> organisms-text-teaser-media(addClass: "c-teaser--slider") }}
</div>
