<div class="c-content-slider-container">
    <div class="c-content-slider c-content-slider--image js-content-slider">
        {{> organisms-text-teaser-media }}
        {{> organisms-text-teaser-media }}
        {{> organisms-text-teaser-media }}
        {{> organisms-text-teaser-media }}
        {{> organisms-text-teaser-media }}
        {{> organisms-text-teaser-media }}
    </div>
</div>
