{{> organisms-skiplink-navigation }}

<div class="h-dev-breakpoint">BP:</div>

<header class="fr-header-content">
    {{> organisms-top-navigation }}
    {{> organisms-search-layer }}
    {{> organisms-main-navigation }}
    {{> organisms-header-stage-type-4 }}
</header>

<div class="fr-main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <main class="fr-main-column">

                    {{> organisms-tabs }}

                    {{> organisms-tabs-text-selection }}
                    {{> organisms-tabs-special }}
                    {{> organisms-tabs-a-z }}
                    {{> organisms-tabs-subline }}
                    {{> organisms-tabs-download-language }}
                    {{> organisms-tabs-toplink }}
                    {{> organisms-accentuation-box-with-subline }}
                    {{> organisms-accentuation-box }}
                    {{> organisms-accentuation-box-with-links }}
                    {{> organisms-accentuation-box-with-image }}
                    {{> organisms-accentuation-box-with-media }}
                    {{> organisms-accentuation-box-with-icon }}

                </main>
            </div>
            <div class="col-lg-4">
                <aside class="fr-rc-column">
                    {{> organisms-page-navigation }}
                </aside>
            </div>
        </div>
    </div>
</div>

{{> organisms-footer-social-links }}
{{> organisms-footer }}

{{> organisms-popup }}
