{{> organisms-skiplink-navigation }}

<div class="h-dev-breakpoint">BP: </div>

<header class="fr-header-content">
    {{> organisms-top-navigation }}
    {{> organisms-search-layer }}
    {{> organisms-main-navigation }}
    {{> organisms-header-stage-type-3 }}
</header>

<div class="fr-main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <main class="fr-main-column">

                    {{> organisms-content-intro }}
                    {{> organisms-anchor-links }}
                    {{> organisms-content-container }}

                    {{> molecules-quote }}
                    {{> organisms-content-container--text-with-glossary-link }}
                    {{> atoms-accentuation }}
                    {{> organisms-content-container--only-text }}
                    {{> organisms-content-image }}
                    {{> organisms-content-container--only-text }}
                    {{> organisms-image-gallery }}
                    {{> organisms-content-container--only-text }}

                    {{> organisms-accentuation-box }}
                    {{> organisms-accentuation-box-keycolor1 }}
                    {{> organisms-accentuation-box-keycolor2 }}
                    {{> organisms-accentuation-box-keycolor3 }}

                    {{> molecules-headline-icon }}
                    {{> organisms-link-block-intern }}

                    {{> molecules-headline-icon-with-link }}
                    {{> organisms-link-block-download }}

                    {{> organisms-accordion }}


                    {{> organisms-content-footer }}
                </main>
            </div>
            <div class="col-lg-4">
                <aside class="fr-rc-column">
                    {{> organisms-page-navigation }}
                    {{> organisms-rc-content }}
                </aside>
            </div>
        </div>
    </div>
</div>

{{> organisms-footer-social-links }}
{{> organisms-footer }}

{{> organisms-popup }}
