{{> organisms-skiplink-navigation }}

<div class="h-dev-breakpoint">BP:</div>

<header class="fr-header-content">
    {{> organisms-top-navigation }}
    {{> organisms-search-layer }}
    {{> organisms-main-navigation }}
    {{> organisms-header-stage-type-5 }}
</header>

<div class="fr-main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <main class="fr-main-column">

                    {{> organisms-content-intro }}

                    {{> molecules-headline-icon }}
                    {{> organisms-contact-teaser-list }}

                    {{> molecules-headline-icon }}
                    <div class="row fr-row--spacer-bottom">
                        <div class="col-md-6">
                            {{> organisms-text-teaser-image }}
                        </div>
                        <div class="col-md-6">
                            {{> organisms-text-teaser-image }}
                        </div>
                    </div>
                    {{> organisms-text-teaser-box }}

                    {{> organisms-content-footer }}
                </main>
            </div>
            <div class="col-lg-4">
                <aside class="fr-rc-column">
                    {{> organisms-page-navigation }}
                </aside>
            </div>
        </div>
    </div>
</div>

{{> organisms-footer-social-links }}
{{> organisms-footer }}

{{> organisms-popup }}