{{> organisms-skiplink-navigation }}

<div class="h-dev-breakpoint">BP:</div>

<header class="fr-header-content">
    {{> organisms-top-navigation }}
    {{> organisms-search-layer }}
    {{> organisms-main-navigation }}
    {{> organisms-header-stage-type-3 }}
</header>

<div class="fr-main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <main class="fr-main-column">

                    {{> organisms-content-container--only-text }}
                    {{> organisms-image-gallery }}
                    {{> organisms-content-container--only-text }}
                    {{> organisms-teaser-content-slider-media }}
                    {{> organisms-content-container--only-text }}
                    {{> organisms-video-gallery }}

                </main>
            </div>
            <div class="col-lg-4">
                <aside class="fr-rc-column">
                    {{> organisms-page-navigation }}
                    {{> organisms-image-gallery }}
                    {{> organisms-teaser-content-slider-media }}

                </aside>
            </div>
        </div>
    </div>
</div>

{{> organisms-footer-social-links }}
{{> organisms-footer }}

{{> organisms-popup }}