<div class="table-container">
<table>
    <thead>
    <tr>
        <th>Ipsum</th>
        <th>Ipsum</th>
        <th>Überschrift Spalte</th>
        <th>%</th>
        <th>Ort</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1250</td>
        <td>525250</td>
        <td>Text lorem ipsum dolor sit amet</td>
        <td>1,2</td>
        <td>Köln</td>
    </tr>
    <tr>
        <td>1250</td>
        <td>525250</td>
        <td>Text lorem ipsum dolor sit amet</td>
        <td>1,2</td>
        <td>Köln</td>
    </tr>
    <tr>
        <td>1250</td>
        <td>525250</td>
        <td>Text lorem ipsum dolor sit amet</td>
        <td>1,2</td>
        <td>Köln</td>
    </tr>
    <tr>
        <td>1250</td>
        <td>525250</td>
        <td>Text lorem ipsum dolor sit amet</td>
        <td>1,2</td>
        <td>Köln</td>
    </tr>
    </tbody>
</table>
</div>