@mixin formfield {
    @include fs(17,36);
    
    width: 100%;
    background-color: $color-formfield-bg;
    padding: 0 5px;
    height: 36px;
    margin-bottom: 10px;
}

@mixin textbutton {
    @include fs(15,21,med);
    
    border: 0;
    background: transparent;
    
    &:before {
        content: '» ';
    }
}

.c-form-row {
    &--align-right {
        text-align: right;
    }
}
