<div class="c-twitter">
    <figure class="c-twitter__media">
        <img src="/images/content/logo_twitter.png" alt="">
    </figure>

    <div class="c-twitter__container">
        <h3 class="c-twitter__headline">
            <strong>BIBB</strong> @BIBB_de | 2 Std.
        </h3>
        <p class="c-twitter__content">
            #Studierende der #Psychologie #Pädagogik #Sozialwissenschaften für #Forschung&apos;sabteilung gesucht https://www.bibb.de/de/52631.php  #HiWi #WiHi \W
        </p>
        <ul class="c-twitter__list">
            <li class="c-twitter__item">
                <a href="#" class="c-twitter__link c-twitter__link--comment">2</a>
            </li>
            <li class="c-twitter__item">
                <a href="#" class="c-twitter__link c-twitter__link--retweet">2</a>
            </li>
            <li class="c-twitter__item">
                <a href="#" class="c-twitter__link c-twitter__link--like">1</a>
            </li>
        </ul>
    </div>
</div>