<ul class="c-socialmedia-links">
    <li class="c-socialmedia-links__list-item">
        <a href="#" class="c-socialmedia-links__link c-socialmedia-links__link--twitter">
            <svg>
                <use href="/images/sprites/misc.svg#twitter" xlink:href="/images/sprites/misc.svg#twitter"></use>
            </svg>
            <span>Twitter</span>
        </a>
    </li>
    <li class="c-socialmedia-links__list-item">
        <a href="#" class="c-socialmedia-links__link c-socialmedia-links__link--youtube">
            <svg>
                <use href="/images/sprites/misc.svg#follow_youtube" xlink:href="/images/sprites/misc.svg#follow_youtube"></use>
            </svg>
            <span>Youtube</span>
        </a>
    </li>
    <li class="c-socialmedia-links__list-item">
        <a href="#" class="c-socialmedia-links__link c-socialmedia-links__link--rss">
            <svg>
                <use href="/images/sprites/misc.svg#rss" xlink:href="/images/sprites/misc.svg#rss"></use>
            </svg>
            <span>RSS</span>
        </a>
    </li>
    <li class="c-socialmedia-links__list-item">
        <a href="#" class="c-socialmedia-links__link c-socialmedia-links__link--facebook">
            <svg>
                <use href="/images/sprites/misc.svg#follow_facebook" xlink:href="/images/sprites/misc.svg#follow_facebook"></use>
            </svg>
            <span>Facebook</span>
        </a>
    </li>
    <li class="c-socialmedia-links__list-item">
        <a href="#" class="c-socialmedia-links__link c-socialmedia-links__link--newsletter">
            <svg>
                <use href="/images/sprites/misc.svg#newsletter" xlink:href="/images/sprites/misc.svg#newsletter"></use>
            </svg>
            <span>Newsletter</span>
        </a>
    </li>
</ul>
