<div class="fr-container__outside fr-container-color-standard fr-container__outside--two-colors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="fr-two-colors-container fr-layout-column-padding-right">
                    {{> molecules-headline-icon-with-separate-link }}
                    {{> organisms-socialmedia-twitter }}
                    {{> organisms-socialmedia-twitter }}
                    {{> organisms-socialmedia-twitter }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="fr-two-colors-container fr-two-colors-container--dark fr-layout-column-padding-left">
                    {{> molecules-headline-icon }}
                    {{> organisms-socialmedia-links }}
                </div>
            </div>
        </div>
    </div>
</div>