<!DOCTYPE html>
<html lang="de" class="{{ htmlClass }}">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <!--<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,400,500,600" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500,500i,600,700" rel="stylesheet">-->

    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">-->
    <link href="/css/vendor/ekko-lightbox.css" rel="stylesheet">

    <link rel="stylesheet" href="../../css/main-{{ bodyClass }}.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all"/>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

</head>
<body class="{{ bodyClass }} {{ pageTypeClass }}">

