$accentuation-max-width: 509px;

.c-accentuation {
    @include fs(26,32,conex-med-ita);
    
    color: $theme-color-accentuation-cl;
    max-width: $accentuation-max-width;
    margin-bottom: 35px;
}
