<div class="fr-cookie-bar">
    <div class="container fr-cookie-bar__container">
        <p class="fr-cookie-bar__text">Durch Ihren Besuch auf unserer Internetseite werden Daten von Ihnen erhoben. In Bezug auf den Umgang des BIBB mit Ihren Daten
            und den Zweck der Verarbeitung möchten wir Sie auf unsere <a href="#">Datenschutzerklärung</a> verweisen.</p>
        <p class="fr-cookie-bar__button-container">
        <a class="fr-cookie-bar__button" href="#">OK</a>
        </p>
    </div>
</div>