<div class="fr-header-tab-content">
    <div class="fr-header-tab-content__image">
        <div class="fr-header-tab-content__image-bg" style="background-image: url('/images/content/content-landscape.jpg');">
            {{> molecules-image-standard-without-caption-popup }}
        </div>
    </div>
    <div class="fr-header-tab-content__teaser">
        <h3 class="fr-header-tab-content__headline">
            Medienkompetenz im Kontext überbetrieblicher Ausbildung als Herausforderung
        </h3>
        <p class="fr-header-tab-content__text">
            Beim sechsten Netzwerktreffen der Pilotprojekte des Sonderprogramms ÜBS-Digitalisierung stand die Förderung von Medienkompetenz in berbetrieblichen Einrichtungen im Zentrum des Austausches.
        </p>
        <p>
            <a href="#" class="fr-header-tab-content__link">weiterlesen</a>
        </p>
    </div>
</div>