<div class="fr-header-stage-extension">
    <div class="fr-header-stage-extension__text">
        {{> atoms-text-two-columns }}
    </div>
    <p class="fr-header-stage-extension__link">
        {{> atoms-link }}
    </p>
</div>