<div class="fr-header-stage-type-3">
    <div class="container">
        <div class="fr-header-stage-type-3__inside">
            {{> organisms-breadcrumb-navigation }}
        </div>
    </div>
</div>