<div class="fr-header-stage-type-8">
    <div class="fr-header-stage-type-8__image-container"
         style="background-image: url('/images/header/stage-type-8.jpg')">
        <figure class="fr-header-stage-type-8__image">
            <img src="/images/header/stage-type-8.jpg" data-copyright="{{ imageCopyright }}" alt="">
        </figure>
        <div class="fr-header-stage-type-8__text-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="fr-header-stage-type-8__headline">Berufsbildung International lorem ipsum dolor sit
                            ametg</h1>
                    </div>
                    <div class="col-lg-6">
                        <p class="fr-header-stage-type-8__intro">
                            <a href="#" class="fr-header-stage-type-8__link">Die Internationalisierung der beruflichen
                                Bildung ist Fakt wie Herausforderung
                                zugleich. Sie geht einher mit Konsequenzen für das deutsche duale System und die
                                Berufsbildungssysteme weltweit. »</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>