<div class="js-stage fr-header-stage-type-1" data-stage-type="1">
    <h1 class="h-hidden">Bibb Startseite</h1>
    <div class="js-stage-slider slick-stage fr-header-stage-type-1__container">
        <div class="fr-header-stage-type-1__slide">
            <div class="fr-header-stage-type-1__image-container"
                 style="background-image: url('/images/header/stage-type-1a.jpg')">
                <figure class="fr-header-stage-type-1__copyright">
                    <img src="/images/header/stage-type-1a.jpg" data-copyright="{{ imageCopyright }}" alt="">
                </figure>
                <div class="fr-header-stage-type-1__overlay">
                    <div class="container">
                        <div class="fr-header-stage-type-1__text-container">
                            <h3 class="fr-header-stage-type-1__headline">{{ headlineTeaserStage }}</h3>
                            <p class="fr-header-stage-type-1__teaser">
                                <a href="#" class="fr-header-stage-type-1__teaser-link">{{ teaserLinkStage }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-header-stage-type-1__slide">
            <div class="fr-header-stage-type-1__image-container"
                 style="background-image: url('/images/header/stage-type-1b.jpg')">
                <figure class="fr-header-stage-type-1__copyright">
                    <img src="/images/header/stage-type-1b.jpg" data-copyright="{{ imageCopyright }}" alt="">
                </figure>
                <div class="fr-header-stage-type-1__overlay">
                    <div class="container">
                        <div class="fr-header-stage-type-1__text-container">
                            <h3 class="fr-header-stage-type-1__headline">{{ headlineTeaserStage }}</h3>
                            <p class="fr-header-stage-type-1__teaser">
                                <a href="#" class="fr-header-stage-type-1__teaser-link">{{ teaserLinkStage }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="js-stage-tabs fr-header-stage-type-1__tab-container">
        <div class="container">
            <ul class="fr-header-stage-type-1__tabs">
                <li class="fr-header-stage-type-1__tab fr-header-stage-type-1__tab--active">
                    <a href="#" class="js-stage-slider-click fr-header-stage-type-1__tab-link fr-header-stage-type-1__tab-link--active" data-stage-slide="0" tabindex="-1">{{ teaserTabStage }}</a>
                </li>
                <li class="fr-header-stage-type-1__tab">
                    <a href="#" class="js-stage-slider-click fr-header-stage-type-1__tab-link" data-stage-slide="1">{{ teaserTabStage }}</a>
                </li>
                <li class="fr-header-stage-type-1__tab">
                    <a href="#" class="js-stage-slider-click fr-header-stage-type-1__tab-link" data-stage-slide="2">{{ teaserTabStage }}</a>
                </li>
                <li class="fr-header-stage-type-1__tab">
                    <a href="#" class="js-stage-slider-click fr-header-stage-type-1__tab-link" data-stage-slide="3">{{ teaserTabStage }}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>