<div class="fr-header-stage-type-6">
    <div class="fr-header-stage-type-6__image-container"
         style="background-image: url('/images/header/stage-type-2.jpg')">
        <figure class="fr-header-stage-type-6__image">
            <img src="/images/header/stage-type-2.jpg" data-copyright="{{ imageCopyright }}" alt="">
        </figure>
        <div class="fr-header-stage-type-6__border"></div>
        <div class="fr-header-stage-type-6__overlay">
            <div class="container">
                <div class="fr-header-stage-type-6__text-container">
                    <h1 class="fr-header-stage-type-6__headline">{{ headlineTeaserStageFp }}</h1>
                    <p class="fr-header-stage-type-6__teaser">{{ textTeaserStageFp }}</p>
                    <p>
                        <a href="#" class="fr-header-stage-type-6__link">{{ linkTeaserStageFp }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>