<div class="fr-header-stage-type-5">
    <div class="fr-header-stage-type-5__image-container"
         style="background-image: url('/images/header/stage-type-5.jpg')">
        <figure class="fr-header-stage-type-5__image">
            <img src="/images/header/stage-type-5.jpg" data-copyright="{{ imageCopyright }}" alt="">
        </figure>
        <div class="fr-header-stage-type-5__text-container">
            <div class="container">
                <h6 class="fr-header-stage-type-5__headline">
                    {{ headlineStage }}
                </h6>
            </div>
        </div>
    </div>
</div>