<div class="js-stage fr-header-stage-type-7" data-stage-type="7">
    <h1 class="h-hidden">Fachportal Startseite</h1>
    <div class="container">
        <div class="fr-tab-header">

            <div class="row">
                <div class="col-lg-9 fr-tab-header__left">
                    <div class="fr-inner-container">
                        <div class="js-stage-slider slick-stage fr-header-stage-type-7__container">
                            <div class="fr-tab-header__pane" id="tab1-content">
                                {{> organisms-header-tab-pane }}
                            </div>
                            <div class="fr-tab-header__pane" id="tab2-content">
                                {{> organisms-header-tab-pane }}
                            </div>
                            <div class="fr-tab-header__pane" id="tab3-content">
                                {{> organisms-header-tab-pane }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 fr-tab-header__right">
                    <div class="fr-inner-container">
                        <ul class="js-stage-tabs fr-tab-header__tabs">
                            <li class="fr-tab-header__tab">
                                <a class="js-stage-slider-click fr-header-stage-type-7__tab fr-header-stage-type-7__tab--active" data-stage-slide="0" tabindex="-1" href="#">{{ threeTeasersTab1 }}</a>
                            </li>
                            <li class="fr-tab-header__tab">
                                <a class="js-stage-slider-click fr-header-stage-type-7__tab" data-stage-slide="1" tabindex="-1" href="#">{{ threeTeasersTab2 }}</a>
                            </li>
                            <li class="fr-tab-header__tab">
                                <a class="js-stage-slider-click fr-header-stage-type-7__tab" data-stage-slide="2" tabindex="-1" href="#">{{ threeTeasersTab3 }}</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>