<div class="fr-header-stage-type-4 fr-header-stage-type-4--press" style="background-image: url('/images/header/stage-type-4--press.jpg')">
    <div class="container">
        <div class="fr-header-stage-type-4__inside">
            {{> organisms-breadcrumb-navigation }}
            <h6 class="fr-header-stage-type-4__headline">
                {{ headlineStage }}
            </h6>
        </div>
    </div>
</div>